<footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
              
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        ©
        <script>
          document.write(new Date().getFullYear())
        </script>, dibuat dengan <a href="https://wyam.io/" target="="_blank ><i class="material-icons">favorite</i></a> oleh
        <a href="https://fanioz.github.io" target="_blank">fanioz</a>.
      </div>
    </div>
  </footer>